# Backend
/backend/node_modules
/backend/.env
/backend/*.sql
/backend/*.log
/backend/tmp
/backend/coverage
/backend/.ebextensions/
/backend/.ebignore
/backend/*.zip
/backend/Procfile


# Frontend
/frontend/node_modules
/frontend/build
/frontend/.env
/frontend/*.log
/frontend/.vscode/
/frontend/.ebextensions/
/frontend/.ebignore
/frontend/app.zip
/frontend/server.js
/frontend/Procfile
/frontend/coverage/
*.swp
*.swo

