# Backend
/backend/node_modules
/backend/.env
/backend/*.sql
/backend/*.log
/backend/tmp
/backend/coverage

# Frontend
/frontend/node_modules
/frontend/build
/frontend/.env
/frontend/*.log
/frontend/.vscode/
*.swp
*.swo

