
.search-form {
	margin-bottom: 2rem; /* Space below the search form */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-form form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	background-color: #f8f9fa;
	border-radius: 30px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
}

.input-wrapper {
	width: 100%;
}

.search-form input {
	border: none;
	border-radius: 20px;
	padding: 0.75rem 1rem;
	background-color: #e9ecef;
	color: #5b6770;
	width: 100%;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.search-form input:focus {
	background-color: white;
	color: #2b4564;
	box-shadow: 0 0 10px rgba(0, 96, 109, 0.5);
}

.search-form .btn-main {
	background-color: #1c8ac2;
	border: none;
	border-radius: 20px;
	padding: 0.75rem 1.5rem;
	font-weight: bold;
	color: white;
	transition: background-color 0.3s ease, transform 0.3s ease;
	width: 100%;
}

.search-form .btn-main:hover {
	background-color: #1c8ac2;
	color: black;
}

@media (min-width: 768px) {
	.search-form {
		margin-bottom: 3rem;
	}

	.search-form form {
		flex-direction: row;
		max-width: 100%;
	}

	.search-form input {
		width: 100%;
		margin-right: 0.5rem;
	}

	.search-form .btn-main {
		width: 20%;
	}
}


@media (min-width: 1098px) {
	.search-form {
		justify-content: center;
	}

	.input-wrapper {
		width: 17rem;
	}

	.search-form form {
		flex-direction: row;
		max-width: 100%;
	}

	.search-form input {
		width: 250px;
		margin-right: 0.5rem;
	}

	.search-form .btn-main {
		width: 20%;
	}
}
