.UserCard:hover {
	transform: scale(1.05);
}

.UserCard {
	transition: 0.1s;
}

.UserCard .container {
	height: 100vh;
}

.UserCard .card {
	width: 380px;
	border: none;
	border-radius: 15px;
	padding: 8px;
	background-color: #fff;
	position: relative;
	height: 370px;
	
}

.UserCard .upper {
	height: 100px;
}

.UserCard .upper img {
	width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.UserCard .user {
	position: relative;
}

.UserCard .username {
	font-size: 30px;
	font-weight: bold;
	margin-top: 20px;
}

.UserCard .img-fluid {
	width: 100%;
	border-radius: 50%;
	top: -50px;
	left: 38%;
	border: 3px solid #fff;
}

.UserCard .profile {
	position: absolute;
	top: -50px;
	left: 38%;
	height: 90px;
	width: 90px;
	border: 3px solid #fff;
	border-radius: 50%;
}

.UserCard .profile-bg {
	background-color: #d1cfcf;
	border-radius: 20px;
	width: 50%;
	margin: 0 auto;
}

.UserCard .follow {
	border-radius: 15px;
	padding-left: 20px;
	padding-right: 20px;
	height: 35px;
}

.UserCard .stats span {
	font-size: 29px;
}
