.UserList {
	padding: 2rem;
}

.UserList-users {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3rem;
	justify-content: center;
}

.UserList-cardLink {
    text-decoration: none;
    color: inherit;
}