.Profile .profile-card {
    border: none;
    border-radius: 10px;
    background-color: #fff;
    padding: 1rem;
    max-width: 30vw;
}

.Profile .stats {
    background: #eff0f1 !important;
    color: black !important;
    font-size: 2rem;
    font-weight: 500;
}

#edit {
    width: 40%;
}

.Profile .button-container {
    display: flex;
    justify-content: center;
}