nav {
	background: #00606D;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
	height: 60px;
}

.nav-item {
	width: 100px;
	text-align: center;
}

nav a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

nav a.active:not(.logout) {
	color: white;
	font-weight: bold;
	border-bottom: 5px dotted;
}

nav a:hover {
	text-decoration: none;
}

nav a.active.brand {
	border-bottom: none;
}

nav a.brand {
	font-size: 1.5rem;
	color: white;
}

nav a:not(.brand):hover {
	font-weight: bold;
	color: black !important;
}