/* Container for the entire PostList section */

/* Grid layout for posts */

.PostList {
	padding: 1rem;
}

.PostList-posts {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	gap: 3rem;
	justify-content: center;
	justify-items: center;
}



.PostList .btn-add {
	margin-left: auto;
	background-color: #1c8ac2;
	border: none;
	border-radius: 7px;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 2rem;
	color: white;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 25px;
	display: flex;
}

.PostList .fa-plus {
	position: absolute; /* For whatever reason, this is necessary to prevent a blue line under the + sign */
}

.PostList .btn-add:hover {
	background-color: #1c8ac2;
	color: black;
}

/* .PostList .upper {
	
} */

@media (min-width: 768px) {
	.PostList-posts {
		grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
		justify-content: center;
		justify-items: stretch;
		border: 1px solid red;
	}

	.PostList {
		padding: 2rem;
	}
}

@media (min-width: 1098px) {
	.PostList .upper {
		position: relative;
		display: flex;
		justify-content: space-around;
	}
}