/* Container for the entire PostList section */
.PostList {
    padding-top: 2rem;
}

/* Grid layout for posts */
.PostList-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    justify-content: center;
}

.PostList .upper {
    position: relative;
    display: flex;
    justify-content: center;
}

.PostList .btn-add {
	background-color: #1c8ac2; /* Matches the main button color */
    position: absolute;
    right: 10%;
    top: 17%;
	border: none;
	border-radius: 7px; /* Makes the button round */
	width: 40px; /* Adjust size as needed */
	height: 40px;
	font-size: 2rem; /* Adjust size of the `+` sign */
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
    padding: 25px;
}

.PostList .btn-add:hover {
	background-color: #1c8ac2;
	color: black;
}
