.TransactionDetail {
    padding: 2rem;
    display: grid; /* So that Error Alert can be positioned in the center */
}

.TransactionDetail .successful-rating {
    color: #28a745;
}


.transaction-detail {
    width: 30vw;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.TransactionDetail .transaction-info {
    display: grid;
    justify-content: center;
    text-align: left;
}

.TransactionDetail .transaction-info p {
    color: #1C8AC2;
}

.transaction-detail h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.transaction-detail p {
    font-size: 1rem;
    color: #dedede;
    margin-bottom: 10px;
}

.transaction-detail p strong {
    color: #333;
}

.rating-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rating-section h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.rating-section form {
    display: flex;
    flex-direction: column;
}

.rating-section .form-group {
    margin-bottom: 15px;
}

.rating-section label {
    font-size: 1rem;
    color: #333;
}

.rating-section input[type='number'] {
    width: 60%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.rating-section button.btn-primary {
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.rating-section button.btn-primary:hover {
    background-color: #0056b3;
}

.TransactionDetail button {
    border-radius: 10px;
}

.rating-section p {
    font-size: 1rem;
    color: #28a745;
}

.rating-section p.disclaimer {
    font-size: 1rem;
    color: #fc0000;
    margin-top: 10px;
}
